# Второе задание

In [1]:
import pandas as pd
#Это подключение библиотеки рабоы с таблицами (2й способ комментирования кода)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/stepik126333/students.csv',delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [4]:
df['Growth'].mean()
# среднее значение признака

170.66129032258064

In [ ]:
df['Growth'].describe()

count    186.000000
mean     170.661290
std        9.055881
min      153.000000
25%      164.000000
50%      169.000000
75%      178.000000
max      197.000000
Name: Growth, dtype: float64

In [ ]:
df['Growth'].median()
# медиана признака

169.0

In [5]:
df['Growth'].min(), df['Growth'].max(), df['Growth'].std()

(153, 197, 9.055880959226972)

# Смысл квадратных скобок в Питоне

Если знак "точка" означает начало **просьбы** к "невидимой сущности", то смысл квадратных скобок [] такой:

[] - это сокращение фразы "**такие, что**"  (или: "то, что относится к...")

In [ ]:
df['Sex']
# взять из таблицы df то, что относится к признаку Sex

0      женский
1      мужской
2      мужской
3      женский
4      женский
        ...
181    женский
182    женский
183    женский
184    женский
185    женский
Name: Sex, Length: 186, dtype: object

In [6]:
# как в таблице оставить несколько столбцов
df_cut=df[['Growth', 'Weight', 'Sex', 'Age']]

In [ ]:
df_cut=df[['Sex','Age']]
# в таблицу df_cut скопированы столбцы призанков 'Sex' и 'Age' таблицы df

In [7]:
df_cut.head()

   Growth  Weight      Sex  Age
0     170    64.0  женский   20
1     191    73.0  мужской   22
2     172    60.0  мужской   21
3     168    59.0  женский   19
4     159    57.0  женский   23

In [8]:
#Как сделать новую таблицу, в которой будут все женщины из df?
#df[у кого пол женский]
female=df[df['Sex']=='женский']
# == оператор проверки на равенство

In [9]:
female.head()

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
0,20,170,40,2,2002,100,85,86,0,84,...,45,Сникерс,800000.0,Экономический,Математический и ИТ,нет ни брата ни сестры,У окна (пардон: у иллюминатора),20,10.0,40.0
3,19,168,38,2,2003,604,72,0,0,0,...,200,Баунти,900000.0,СоцГум,Юридический,есть сестра,У окна (пардон: у иллюминатора),12,13.5,35.0
4,23,159,36,1,1998,144,0,0,0,0,...,400,Баунти,860000.0,Педагогический,Педагогический,есть сестра,У окна (пардон: у иллюминатора),10,11.0,22.0
9,22,168,38,6,2000,297,71,5,0,0,...,40,Милки Вей,860.0,Математический и ИТ,СоцГум,есть брат,У окна (пардон: у иллюминатора),15,10.0,40.0
10,20,158,35,4,2001,1000,85,72,0,0,...,600,КитКат,800000.0,Педагогический,Естественный (биология-химия-физика-технари),есть и брат и сестра,У прохода,10,9.0,15.0

In [11]:
male=df[df['Sex']=='мужской']
male.head()

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
1,22,191,43,7,2000,307,69,74,64,72,...,180,КитКат,800000.0,Математический и ИТ,Математический и ИТ,есть и брат и сестра,В середине,5,5.0,20.0
2,21,172,41,4,2000,186,78,62,0,0,...,90,КитКат,770000.0,Педагогический,Другое,есть брат,У окна (пардон: у иллюминатора),13,10.0,26.0
5,18,177,40,2,2003,100,70,68,0,75,...,250,Сникерс,1200000.0,СоцГум,Математический и ИТ,есть брат,У окна (пардон: у иллюминатора),12,7.0,30.0
6,18,180,42,0,2004,0,66,4,0,0,...,30,Сникерс,700000.0,Педагогический,Юридический,есть брат,У окна (пардон: у иллюминатора),5,30.0,35.0
7,19,180,48,1,2003,5,72,0,0,0,...,240,Баунти,880000.0,Естественный (биология-химия-физика-технари),Юридический,есть брат,У окна (пардон: у иллюминатора),7,5.0,25.0

In [12]:
KFC_people=df[df['Fastfood']=='KFC']
# скопировать всех студентов, у которых признак 'Fastfood' равен 'KFC'

In [13]:
# теперь для женщин и мужчин можно посчитать статистические характеристики
female['Growth'].mean(),male['Growth'].mean()

(165.725, 179.63636363636363)

In [14]:
female['Age'].mean(),male['Age'].mean()

(21.033333333333335, 20.060606060606062)

In [15]:
female['Age'].median(),male['Age'].median()

(20.0, 20.0)

In [16]:
female['Coin'].value_counts()

Орел     64
Решка    56
Name: Coin, dtype: int64

In [17]:
male['Coin'].value_counts()

Орел     54
Решка    12
Name: Coin, dtype: int64

# Как делать разбиение таблицы и получать выборку данных?
(общая схема)


1. Узнать имя столбца с ключевым признаком
2. Узнать, в каком виде информация храниться в столбце
3. Составить выражение вида (если в столбце хранятся строки)

```
df_new=df[df['имя столбца']=='значение']
```

4. В последнем выражении символ == (проверка на равенство) можно заменить на != (проверка на не-совпадение).
5. Если в столбце храняться числа, то помимо операций ==, != можно применять операции сравнения < (меньше), > (больше), <= (меньше или равно), >= (больше или равно). Числа в кавычки заключать НЕ НАДО:
```
df_new=df[df['имя столбца с числами']==число]
```
6. Ух!!! После всего этого таблица df_new содержит нужные вам объекты.

In [19]:
#разобьем людей на три группы
# 1) люди с ростом меньше 165см
#2) люди с ростом от 165 до 175
#3) с ростом более 175
df1=df[df['Growth']<165]
df2=df[(165<=df['Growth']) & (df['Growth']<=175)]
df3=df[df['Growth']>175]

In [20]:
df1['Growth'].mean(), df2['Growth'].mean(), df3['Growth'].mean()

(160.66666666666666, 169.16, 182.10526315789474)

In [21]:
teenagers=df[df['Age']<20]
# все студенты, у которых возраст строго меньше 20

In [23]:
# теперь решим нетривиальную задачу: найти людей, у которых прошел ДР в момент участия в опросе
# df['Age'] df['Year of birth']  работаем с этими признаками
#
# У человека прошел ДР если df['Age']+df['Year of birth']==2022
df[df['Age']+df['Year of birth']==2022].shape

(102, 48)

In [26]:
#Последний пример показывает, что внутри квадратных скобок вы можете писать сложные выражения с участием арифметических операций
# Более того, внутри [] можно писать вызовы других функций
# Получим всех людей, у которых рост меньше среднего
df[df['Growth']<df['Growth'].mean()].shape

(110, 48)

In [27]:
slim_personts=df[df['Weight']<df['Weight'].mean()]
#все студенты, у которых вес меньше среднего

In [28]:
# НАйдем человека с максимальным возрастом и минимальным возрастом
df[df['Age']==df['Age'].max()]

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
81,55,160,37,7,1960,2000,0,0,0,0,...,300,Милки Вей,800000.0,СоцГум,Математический и ИТ,есть брат,У окна (пардон: у иллюминатора),10,10.0,10.0

In [29]:
df[df['Age']==df['Age'].min()]

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
115,17,175,41,0,2004,152,96,80,0,83,...,1000,КитКат,1.0,СоцГум,Математический и ИТ,нет ни брата ни сестры,У окна (пардон: у иллюминатора),3,2.0,5.0
126,17,168,39,0,2004,110,91,72,0,83,...,1000,Марс,800000.0,Экономический,Математический и ИТ,есть брат,У окна (пардон: у иллюминатора),5,7.0,15.0